section.recentAdds{
  .full_url{ position: absolute; left: 0; top: 0; size: 100%; z-index: 1; transition: .2s ease-in-out;
    &:hover{ box-shadow: 0px 1px 11.3px 0.7px rgba(0,0,0, .19); }
  }
  .row{ display: flex; flex-direction: column; align-items: center; }
  .recentAdds-container{ padding: grid(.25); position: relative;
    @media #{$medium-down}{ padding: grid(.5); }
    @media #{$small-only}{ padding: grid(.5) grid(1); }
  }
  .recentAdds-element{ background: #FFF;   box-shadow: none; border-radius: 10px; padding: grid(.25); display: flex; flex-direction: row; flex-shrink: 0; transition: .3s ease-in-out; position: relative;
    @media #{$medium-only}{ padding: grid(.5); }
    @media #{$small-only}{ padding: grid(1); }
    &_image{ size: 100px; display: block; background: #f1f1f1; border-radius: 50%; margin-top: 30px; position: relative;
      &-number{ size: 35px; background: $zorg; border-radius: 50%; display: block; position: absolute; right: 0; top: 0; text-align: center; line-height: 35px; letter-spacing: 0.1px; color: #fdfdfd; font-weight: $font-regular; font-size: rem(14); }
    }
    &_info{ position: relative; display: block; width: calc(100% - 100px); padding-left: grid(.5); display: flex; flex-direction: column; justify-content: flex-start; align-items: flex-start;
      &-header{
        &-top{
          span{ background: $sport; border-radius: 10px; height: 23px; line-height: 17px; font-size: rem(10); letter-spacing: 0.1px; color: #FFF; text-transform: uppercase; padding: 5px 10px; position: relative; top: -2px; display: inline-block;
            @media #{$medium-down}{ margin-bottom: 5px;}
          }
          h2{ line-height: 23px; font-size: rem(18); letter-spacing: 0.2px; color: $black; font-weight: $font-semibold; padding: 5px 5px;
            @media #{$medium-down}{ padding: 0; display: block; width: 100%; }
          }
        }
        p{ padding: 0; font-size: rem(12); line-height: 20px; letter-spacing: 0.1px; color: #565656;
          a{ text-decoration: underline; }
        }
      }
      &-text{ margin-top: 5px;
        &_information{ padding: 0; font-size: rem(12); line-height: 20px; letter-spacing: 0.1px; color: $black; }
        &_date{ padding: 0; font-size: rem(12); line-height: 20px; letter-spacing: 0.1px; color: $black; font-weight: $font-light; color: #565656; }
      }
    }
  }
}
.all_profiles { margin-top: 20px; }
