// main styles
@import
  "functions/functions",
  "colors",
  "base",
  "grid",
  "mixins",
  "typography";

@import
  "elements/header",
  "elements/footer",
  "elements/breadcrumbs",
  "elements/whyFGN",
  "elements/joinFGN",
  "elements/recent-adds",
  "elements/vision",
  "elements/category",
  "elements/featured-profile";

section{ overflow: hidden; background: $background;
  // &.light{ background: #FFF; }
  &.dark{ background: #efefef; }
}

main{ margin-top: 65px; width: 100vw; overflow: hidden; max-width: 100%; }
.landingPage{ width: 100vw; height: 75vh; background: linear-gradient(rgba(67, 67, 67, 0.4), rgba(67, 67, 67, 0.4)), url('../images/Bannerfoto.jpg'); background-position: center center; background-size: cover; display: flex; flex-direction: column; justify-content: center; align-items: center; z-index: 0;
  &.small{ max-height: 500px; }
  .title{ font-size: rem(40); font-weight: $font-light; letter-spacing: 0.4px; color: #FFF; line-height: 40px; text-align: center; }
  form{ display: block; display: flex; align-items: center; justify-content: center; width: 100%; margin-top: 70px; max-width: 780px; padding: 0px grid(.25);
    @media #{$medium-only}{ padding: 0px grid(.5); }
    @media #{$small-only}{ padding: 0px grid(1); }
    input{ width: calc(100% - 40px); height: 40px; border-radius: 5px 0px 0px 5px ; background-color: #FFF; box-shadow: 0px 8px 9.2px 0.8px rgba(0,0,0, 0.19); border: none; padding: 0px 20px; font-family: $main-font; font-size: rem(14);
      &::placeholder{ color: #585858;
      }
    }
    button{ display: block; size: 40px; background: #FFF; border: none; box-shadow: 0px 8px 9.2px 0.8px rgba(0,0,0, 0.19); border-radius: 0px 5px 5px 0px; border-left: 1px solid $grey-black; text-indent: -9999px;
      &:after{ content: 'H'; font-family: $social-font; position: relative; text-transform: none; padding-left: 0px; top: -10px; color: $grey-black; text-indent: 0; display: block; }
    }
  }
}

.row, .row-small{ margin: 60px auto;
  &.no-margin{ margin-top: 0; margin-bottom: 0;
    &.header{ margin-top: 60px; }
  }
  @media #{$medium-down}{ margin: 30px auto; }
  .title{ font-size: rem(18); text-align: center; font-weight: $font-semibold; line-height: 21px; letter-spacing: 0.2px; color: $black; display: block; width: 100%; }
}
.row-small{ max-width: 780px; padding: 0px grid(.25); margin-top: 60px; margin: 60px auto 0;
  @media #{$medium-only}{ padding: 0px grid(.5); }
  @media #{$small-only}{ padding: 0px grid(1); }
  p{ font-size: rem(12); line-height: 21px; letter-spacing: 0.1px; color: $grey-black; text-align: center; padding: 20px grid(.25); margin: 0 auto; }
}

section{ width: 100vw; max-width: 100%;
  &.login, &.register{ display: flex; justify-content: flex-start; align-items: center; flex-direction: column; padding: 70px 0; background: $background; background-position: center center; background-size: cover; background-repeat: no-repeat; min-height: calc(100vh - 65px);
    fieldset{ border: none; width: 100%;
      legend{ display: none; }
    }
    .login-logo{ size: 70px; display: block; background-image: url('../images/fgn-ico.png'); text-indent: -9999px; margin-bottom: 50px; background-size: contain; background-repeat: no-repeat; background-position: center center; }
    .login-form{ width: 100%; max-width: 500px; display: flex; flex-direction: column; align-items: center; background-color: #FFF; padding: 25px; box-shadow: 0px 1px 11.3px 0.7px rgba(0,0,0, .19); border-radius: 10px;
      h2{ font-size: rem(26); line-height: 21px; text-align: center; letter-spacing: .3px; color: $black; font-weight: $font-semibold; padding: 10px 0px; }
      h3{ font-size: rem(18); line-height: 21px; text-align: center; letter-spacing: .2px; color: $black; font-weight: $font-semibold; padding: 10px 0px; }
      form{ width: 100%;
        .input-field{ width: 100%; position: relative;
          label{ position: absolute; color: #979797; top: 30px; left: 15px; font-size: rem(14); line-height: 21px; letter-spacing: 0.1px; transition: $transition; }
          input{ width: 100%; border: none; background: $background; height: 40px; line-height: 40px; padding: 0px 15px; margin: 20px 0; color: $black; font-size: rem(16); line-height: 21px; letter-spacing: 0.1px;
            &::placeholder{ color: transparent; }
            &:not(:placeholder-shown) + label{ top: -5px; color: $black; }
          }
        }
        .checkbox{ display: flex; align-items: center; justify-content: center; margin: 10px 0;
          input{ display: block; size: 25px; border-radius: 5px; background-color: $background; box-shadow: 0px 1px 11.3px 0.7px rgba(0,0,0, .19); margin-right: 10px; transition: $transition; cursor: pointer;
            &:checked{ background: $feelgood; }
          }
          label{ cursor: pointer; }
        }
        .submit-buttons{ display: flex; align-items: center; justify-content: center;
          input{ display: block; line-height: 25px; border-radius: 5px; background-color: $feelgood; color: #fdfdfd; font-weight: $font-regular; letter-spacing: 0px; font-size: rem(12); text-align: center; position: relative; transition: $transition; padding: 5px 15px; text-transform: uppercase;  box-shadow: none; border: none; margin: 10px; cursor: pointer;
            &:hover{ background: darken($feelgood, 4%); }
            &.facebook{ background: #4267b2;
              &:hover{ background: darken(#4267b2, 4%); }
            }
          }
        }
      }
    }
    .agree{ font-size: rem(14); color: $black; letter-spacing: 0.1px; font-weight: $font-light; letter-spacing: .1px; line-height: 1.75; text-align: center; margin: 15px 0;
      p, a{ font-size: rem(14); color: $black; letter-spacing: 0.1px; font-weight: $font-light; letter-spacing: .1px; line-height: 1.75; text-align: center; }
      p + p{ padding: 15px 0;}
    }
    .under-login{ font-size: rem(14); color: $black; letter-spacing: 0.1px; font-weight: $font-light; letter-spacing: .1px; line-height: 1.75; text-align: center; margin-top: 15px;
      .lost-password{ font-size: rem(14); color: $black; letter-spacing: 0.1px; font-weight: $font-light; letter-spacing: .1px; line-height: 1.75; text-align: center; }
      p, a{ font-size: rem(14); color: $black ; letter-spacing: 0.1px; font-weight: $font-light; letter-spacing: .1px; line-height: 1.75; text-align: center; }
      a:hover{ text-decoration: underline; }
      p{ padding: 10px 0;}
    }
  }
  form.collapse{ display: none; }
}
