// main styles
@import
  "functions/functions",
  "colors",
  "base",
  "grid",
  "mixins",
  "typography";

@import
  "elements/header",
  "elements/footer",
  "elements/breadcrumbs",
  "elements/whyFGN",
  "elements/joinFGN",
  "elements/recent-adds",
  "elements/vision",
  "elements/category",
  "elements/featured-profile";

section{ overflow: hidden; background: $background;
  // &.light{ background: #FFF; }
  &.dark{ background: #efefef; }
}

main{ margin-top: 65px; width: 100vw; overflow: hidden; max-width: 100%; }
.landingPage{ width: 100vw; height: 75vh; background-position: center center; background-size: cover; display: flex; flex-direction: column; justify-content: center; align-items: center; z-index: 0;
  &.small{ max-height: 500px; }
  .title{ font-size: rem(40); font-weight: $font-light; letter-spacing: 0.4px; color: #FFF; line-height: 40px; text-align: center; }
  form{ display: block; display: flex; align-items: center; justify-content: center; width: 100%; margin-top: 70px; max-width: 780px; padding: 0px grid(.25);
    @media #{$medium-only}{ padding: 0px grid(.5); }
    @media #{$small-only}{ padding: 0px grid(1); }
    input{ width: calc(100% - 40px); height: 40px; border-radius: 5px 0px 0px 5px ; background-color: #FFF; box-shadow: 0px 8px 9.2px 0.8px rgba(0,0,0, 0.19); border: none; padding: 0px 20px; font-family: $main-font; font-size: rem(14);
      &::placeholder{ color: #585858;
      }
    }
    button{ display: block; size: 40px; background: #FFF; border: none; box-shadow: 0px 8px 9.2px 0.8px rgba(0,0,0, 0.19); border-radius: 0px 5px 5px 0px; border-left: 1px solid $grey-black; text-indent: -9999px;
      &:after{ content: 'H'; font-family: $social-font; position: relative; text-transform: none; padding-left: 0px; top: -10px; color: $grey-black; text-indent: 0; display: block; }
    }
  }
}

.row, .row-small{ margin: 60px auto;
  &.no-margin{ margin-top: 0; margin-bottom: 0;
    &.header{ margin-top: 60px; }
  }
  @media #{$medium-down}{ margin: 30px auto; }
  .title{ font-size: rem(18); text-align: center; font-weight: $font-semibold; line-height: 21px; letter-spacing: 0.2px; color: $black; display: block; width: 100%; }
}
.row-small{ max-width: 780px; padding: 0px grid(.25); margin-top: 60px; margin: 60px auto 0;
  @media #{$medium-only}{ padding: 0px grid(.5); }
  @media #{$small-only}{ padding: 0px grid(1); }
  p{ font-size: rem(12); line-height: 21px; letter-spacing: 0.1px; color: $grey-black; text-align: center; padding: 20px grid(.25); margin: 0 auto; }
}

section{ width: 100vw; max-width: 100%;
  &.login, &.register{ display: flex; justify-content: flex-start; align-items: center; flex-direction: column; padding: 70px 0; background: $background; background-position: center center; background-size: cover; background-repeat: no-repeat; min-height: calc(100vh - 65px);
    fieldset{ border: none; width: 100%;
      legend{ display: none; }
    }
    .login-logo{ size: 70px; display: block; background-image: url('../images/fgn-ico.png'); text-indent: -9999px; margin-bottom: 50px; background-size: contain; background-repeat: no-repeat; background-position: center center; }
    .login-form{ width: 100%; max-width: 500px; display: flex; flex-direction: column; align-items: center; background-color: #FFF; padding: 25px; box-shadow: 0px 1px 11.3px 0.7px rgba(0,0,0, .19); border-radius: 10px;
      h2{ font-size: rem(26); line-height: 21px; text-align: center; letter-spacing: .3px; color: $black; font-weight: $font-semibold; padding: 10px 0px; }
      h3{ font-size: rem(18); line-height: 21px; text-align: center; letter-spacing: .2px; color: $black; font-weight: $font-semibold; padding: 10px 0px; }
      form{ width: 100%;
        .input-field{ width: 100%; position: relative;
          label{ position: absolute; color: #979797; top: 30px; left: 15px; font-size: rem(14); line-height: 21px; letter-spacing: 0.1px; transition: $transition; }
          input{ width: 100%; border: none; background: $background; height: 40px; line-height: 40px; padding: 0px 15px; margin: 20px 0; color: $black; font-size: rem(16); line-height: 21px; letter-spacing: 0.1px;
            &::placeholder{ color: transparent; }
            &:not(:placeholder-shown) + label{ top: -5px; color: $black; }
          }
        }
        .checkbox{ display: flex; align-items: center; justify-content: center; margin: 10px 0;
          input{ display: block; size: 25px; border-radius: 5px; background-color: $background; box-shadow: 0px 1px 11.3px 0.7px rgba(0,0,0, .19); margin-right: 10px; transition: $transition; cursor: pointer;
            &:checked{ background: $feelgood; }
          }
          label{ cursor: pointer; }
        }
        .submit-buttons{ display: flex; align-items: center; justify-content: center;
          input{ display: block; line-height: 25px; border-radius: 5px; background-color: $feelgood; color: #fdfdfd; font-weight: $font-regular; letter-spacing: 0px; font-size: rem(12); text-align: center; position: relative; transition: $transition; padding: 5px 15px; text-transform: uppercase;  box-shadow: none; border: none; margin: 10px; cursor: pointer;
            &:hover{ background: darken($feelgood, 4%); }
            &.facebook{ background: #4267b2;
              &:hover{ background: darken(#4267b2, 4%); }
            }
          }
        }
      }
    }
    .agree{ font-size: rem(14); color: $black; letter-spacing: 0.1px; font-weight: $font-light; letter-spacing: .1px; line-height: 1.75; text-align: center; margin: 15px 0;
      p, a{ font-size: rem(14); color: $black; letter-spacing: 0.1px; font-weight: $font-light; letter-spacing: .1px; line-height: 1.75; text-align: center; }
      p + p{ padding: 15px 0;}
    }
    .under-login{ font-size: rem(14); color: $black; letter-spacing: 0.1px; font-weight: $font-light; letter-spacing: .1px; line-height: 1.75; text-align: center; margin-top: 15px;
      .lost-password{ font-size: rem(14); color: $black; letter-spacing: 0.1px; font-weight: $font-light; letter-spacing: .1px; line-height: 1.75; text-align: center; }
      p, a{ font-size: rem(14); color: $black ; letter-spacing: 0.1px; font-weight: $font-light; letter-spacing: .1px; line-height: 1.75; text-align: center; }
      a:hover{ text-decoration: underline; }
      p{ padding: 10px 0;}
    }
  }
  form.collapse{ display: none; }
}
.log_in{
  .ccm-error{
    display: none;
  }
}
.error-popup{ position: fixed; display: block; width: 100%; max-width: 500px; padding: 25px; margin: 0 auto; left: 50%; top: 50%; transform: translate(-50%, -50%); background: white; z-index: 1;
  &.inactive{ opacity: 0; pointer-events: none; }
  &:after{ display: block; size: 100%; position: absolute; left: 0; top: 0; content: ''; box-shadow: 0px 0px 0px 9999px rgba(black, .3); pointer-events: none; }
  .ccm-error{ display: flex; flex-direction: column; }
  h4{ font-weight: $font-semibold; color: black; font-size: rem(20); }
  li, p{ padding: 5px 0; font-weight: $font-regular; font-size: rem(14); letter-spacing: .2px; color: red; }
  p{ padding: 0; }
  .close-error{ position: absolute; right: 20px; top: 20px; font-size: rem(22); font-weight: $font-semibold; color: black; z-index: 2;}
}


.row{
  section{ background: transparent;
    &.filter{ max-width: 320px; width: 100%; padding: 0 grid(.25);
      @media #{$medium-down}{ padding: 0 grid(.5); width: 100%; max-width: 100vw; }
      @media #{$small-only}{ padding: 0 grid(1); }
      .filter-container{ background: white; display: flex; flex-direction: column; box-shadow: 0px 1px 11.3px 0.7px rgba(0, 0, 0, 0.1);  border-radius: 10px;
        .filter-header{ display: flex; justify-content: space-between; align-items: center; padding: 0px 20px; height: 50px;
          h4{ font-size: rem(16); font-weight: $font-light; color: $grey-black; letter-spacing: .1px; line-height: 21px; padding: 15px 0; }
          button{ background: transparent; border: none; color: $sport; text-transform: uppercase; font-size: rem(12); letter-spacing: .1px; line-height: 21px; }
        }
        .mobile{ height: 50px; width: 100%; display: flex; align-items: center; justify-content: center; border-top: 1px solid $white-grey; display: none;
          @media #{$medium-down}{ display: block; }
          a{ font-size: rem(16); font-weight: $font-semibold; color: $sport; letter-spacing: .1px; line-height: 21px; padding: 15px 0; text-align: center; display: block; width: 100%; display: none;
            &.active{ display: block; }
          }
        }
        form{
          @media #{$medium-down}{ max-height: 0; transition: .6s ease-in-out; overflow: hidden;
            &.open{ max-height: 9999px; }
          }
          fieldset{ border: none; border-top: 1px solid $white-grey; padding: 45px 30px 20px; position: relative;
            legend{ position: absolute; top: 15px; font-size: rem(14); font-weight: $font-light; letter-spacing: .1px; color: $grey-black; line-height: 21px; }
            .fieldset_container{ display: flex; flex-direction: column; padding-left: 15px;
              label{ font-size: rem(12); line-height: 30px; letter-spacing: .1px; color: #979797; display: inline-block; position: relative; cursor: pointer;
                span{ font-size: rem(12); line-height: 30px; letter-spacing: .1px; color: #979797; display: none;
                  &.active{ display: inline-block; }
                }
                &:hover{ color: $feelgood;
                  span{ color: $feelgood; }
                }
              }
              input[type="checkbox"]{
                + label{ width: calc(100% - 30px); left: 30px; position: relative; display: block;
                  &:before{ content: ''; display: inline-block; size: 20px; background: $background; position: absolute; top: 4px; margin-right: 10px; color: black; text-align: center; left: -30px; }
                  &:after{ content: 'm'; display: block; position: absolute; left: -30px; top: 4px; size: 20px; font-family: $social-font; color: black; text-align: center; top: -1px; opacity: 0; font-size: rem(12); transition: $transition; }
                }
                &:checked{
                  +label:after{ opacity: 1; }
                }
              }
            }
          }
        }
      }
    }
  }
  div.results{ width: calc(100% - 320px); position: relative;
    @media #{$medium-down}{ width: 100%; }
    &-header{ display: flex; height: 50px; justify-content: space-between; align-items: center; width: 100%; padding: 0px grid(.25);
      @media #{$medium-down}{ padding: 0 grid(.5); }
      @media #{$small-only}{ padding: 0 grid(1); }
      .navigation-results{ height: 100%; background: white; display: flex; align-items: center; justify-content: flex-start; box-shadow: 0px 1px 11.3px 0.7px rgba(0, 0, 0, 0.1); border-radius: 5px 5px 0 0;
        a{ display: flex; font-size: rem(12); letter-spacing: .1px; color: $grey-black; font-weight: $font-light; padding: 0 15px; height: 100%; position: relative; align-items: center;
          &:after{ content: ''; display: block; position: absolute; bottom: 0; width: calc(100%); height: 4px; background-color: $feelgood; left: 0; height: 0; transition: $transition; }
          &.active:after{ height: 4px; }
          &:hover{
            &:after{ height: 4px; background: $feelgood; }
          }
        }
      }
      .add_something{ display: block; line-height: 25px; border-radius: 5px; background-color: $feelgood; color: #fdfdfd; font-weight: $font-regular; letter-spacing: 0px; font-size: rem(12); text-align: center; position: relative; transition: $transition; padding: 5px 15px; text-transform: uppercase;  box-shadow: none; border: none; cursor: pointer; display: none;
        &:before{ content: '+'; position: relative; text-transform: none; padding: 0 10px 0 0; font-size: 1.1rem; top: 2px; }
        &:hover{ background: darken($feelgood, 4%); }
        &.active{ display: block; }
      }
    }
    section{ position: relative; top: 1px; z-index: -1; opacity: 0; pointer-events: none; display: none;
      &.no-result{ padding: grid(.25);
        @media #{$medium-down}{ padding: grid(.5); }
        @media #{$small-only}{ padding: grid(1); }
        h1{ line-height: 1; }
      }
      &.active{ z-index: 1; opacity: 1; pointer-events: all; display: flex; flex-wrap: wrap; }
      article{ padding: 0 grid(.25) grid(.5); display: none;
        // &:nth-of-type(1), &:nth-of-type(2){ padding-top: 0; }
        &.active{ display: block; }
        &.recentAdds-element{ background: transparent; border-radius: 0; width: 100%; padding: 0 grid(.25);
          @media #{$medium-down}{ padding: 0 grid(.5); }
          @media #{$small-only}{ padding: 0 grid(1); }
          .recentAdds-element_container{ width: 100%; background: white; display: flex; flex-direction: row; justify-content: flex-start; align-items: center; position: relative; padding: grid(.25); border-top: 1px solid $white-grey;
            @media #{$medium-down}{ padding: grid(.5); }
            @media #{$small-only}{ padding: grid(.5) grid(1); }
          }
          &:first-of-type{
            .recentAdds-element_container{ border: none; border-radius: 0 10px 0 0; }
          }
          &:last-of-type{
            .recentAdds-element_container{ border-radius: 0 0 10px 10px; }
          }
        }
        @media #{$medium-down}{ padding: 0 grid(.5) grid(.5); }
        @media #{$small-only}{ padding: 0 grid(1) grid(1); }
      }
      &.profile{ width: 100%; padding: 0 grid(.25);
        @media #{$medium-down}{ padding: 0 grid(.5) grid(.5); }
        @media #{$small-only}{ padding: 0 grid(1) grid(1); }
        .profile-container{ padding: 25px; background: white; border-radius: 0 10px 10px 10px; box-shadow: 0px 1px 11.3px 0.7px rgba(0, 0, 0, 0.1); width: 100%; }
        h2{ font-weight: $font-semibold; font-size: rem(18); line-height: 21px; letter-spacing: .2px; color: $black; padding: 10px 0; }
        p{ font-size: rem(14); color: $black; letter-spacing: .1px; line-height: 20px; padding: 5px 0 15px; }
        .contact_info{ display: flex; flex-wrap: wrap;
          li{ width: 50%; padding: 5px 0 0;
            @media #{$medium-down}{ width: 100%; }
            a{ text-decoration: underline; transition: $transition;
              &:hover{ font-weight: $font-semibold; }
            }
            &.phone{
              &:before{ content: 'x'; display: inline-block; size: 15px; position: relative; font-family: $social-font; top: 2px; }
            }
            &.mail{
              &:before{ content: 'r'; display: inline-block; size: 15px; position: relative; font-family: $social-font; top: 2px; }
            }
            &.website{
              &:before{ content: 't'; display: inline-block; size: 15px; position: relative; font-family: $social-font; top: 2px; }
            }
            &.facebook{
              &:before{ content: 'c'; display: inline-block; size: 15px; position: relative; font-family: $social-font; top: 2px; }
            }
            &.twitter{
              &:before{ content: 'b'; display: inline-block; size: 15px; position: relative; font-family: $social-font; top: 2px; }
            }
            &.LinkedIn{
              &:before{ content: 'x'; display: inline-block; size: 15px; position: relative; font-family: $social-font; top: 2px; }
            }
          }
        }
      }
    }
  }
}

html.sub_category{
  main{ background: $background; }
}
body.gebruiker{
  main{ background: $background; }
}
button{ cursor: pointer; }

.user_profile{ padding: 0 grid(.25); display: flex; flex-direction: column; height: 100%;
  @media #{$medium-down}{ padding: 0 grid(.5); }
  @media #{$small-only}{ padding: 0 grid(1); }
  &-container{ background: white; padding: 35px; border-radius: 10px; box-shadow: 0px 1px 11.3px 0.7px rgba(0, 0, 0, 0.1); margin-bottom: 10px; }
  &-image{ display: block; size: 110px; margin: 0 auto; border-radius: 50%; background-position: center center; background-repeat: no-repeat; background-size: cover; position: relative;
    span{ size: 35px; background: $feelgood; border-radius: 50%; display: block; position: absolute; right: 0; top: 0; text-align: center; line-height: 35px; letter-spacing: 0.1px; color: #fdfdfd; font-weight: $font-regular; font-size: rem(14); }
  }
  h2{ text-align: center; margin: 20px 0; display: block; width: 100%; font-weight: $font-semibold; font-size: rem(18); line-height: 21px; letter-spacing: .2px; color: $black; }
  p{ text-align: center; margin: 15px 0; display: block; width: 100%; font-weight: $font-light; font-size: rem(16); line-height: 21px; letter-spacing: .1px; color: $black; }
  form{ margin: 20px 0;
    .form-group{ position: relative;
      label{ display: none; }
      textarea{ width: 100%; height: 80px; background: #f1f1f1; border-radius: 5px; padding: 15px; resize: none; border: none; font-weight: $font-light; font-size: rem(14); letter-spacing: .1px; color: $black;
      }
    }
    input[type="submit"]{ width: 100%; margin: 15px 0; border: none; box-shadow: none; border-radius: 5px; background: $feelgood; color: white; font-weight: $font-regular; font-size: rem(14); letter-spacing: .1px; text-align: center; padding: 10px 0; cursor: pointer; transition: .3s ease-in-out;
      &:hover{ background: darken($feelgood, 4%); }
    }
  }
  .login-redirect{ margin: 20px 0;
    a{ display: block; width: 100%; margin: 15px 0; border: none; box-shadow: none; border-radius: 5px; background: $feelgood; color: white; font-weight: $font-regular; font-size: rem(14); letter-spacing: .1px; text-align: center; padding: 10px 0; cursor: pointer; transition: .3s ease-in-out;
      &:hover{ background: darken($feelgood, 4%); }
    }
  }
}

.row{ position: relative; }
.tabs{ height: 50px; background: white; box-shadow: 0px 1px 11.3px 0.7px rgba(0, 0, 0, 0.1); border-radius: 5px 5px 0 0; width: auto; position: absolute; top: 0; left: calc(100% / 3);
  ul{ display: flex; align-items: center; justify-content: flex-start; height: 100%; width: auto;
    li{ display: block; height: 100%; }
  }
    a{ display: flex; font-size: rem(12); letter-spacing: .1px; color: $grey-black; font-weight: $font-light; padding: 0 15px; height: 100%; position: relative; align-items: center;
      &:after{ content: ''; display: block; position: absolute; bottom: 0; width: calc(100%); height: 4px; background-color: $feelgood; left: 0; height: 0; transition: $transition; }
      &.active:after{ height: 4px; }
      &:hover{
        &:after{ height: 4px; background: $feelgood; }
      }
    }
}
body.gebruiker{
  .results{ width: calc(100% / 3 * 2); }
  section.request_section article{ display: flex; }
}
html.product{
  body{ background: $background; }
}
.tab-pane{ display: none; }

section.add-page{ height: 100%; background: white; border-radius: 10px;
  .add-page-container{ padding: 25px; background: white; border-radius: 0 5px 5px 5px; box-shadow: 0px 1px 11.3px 0.7px rgba(0, 0, 0, 0.1); width: 100%;
    .add-page{
      &_header{ display: flex; flex-direction: row; padding-bottom: 35px; border-bottom: 1px solid $white-grey; flex-wrap: wrap; 
        &-image{ width: calc(50% - 10px);
          @media #{$medium-down}{ width: 100%; }
          .full-image{ height: 200px; background-size: cover; background-position: center center; width: 100%; display: block; }
        }
        &-content{ width: calc(50% - 10px); margin-left: 20px;
          @media #{$medium-down}{ width: 100%; margin: 0; }
          h2{ font-size: rem(18); line-height: 21px; letter-spacing: .2px; color: $black; font-weight: $font-semibold; }
          span{ background: $feelgood; border-radius: 10px; height: 23px; line-height: 17px; font-size: rem(10); letter-spacing: 0.1px; color: #FFF; text-transform: uppercase; padding: 5px 10px; position: relative; top: -2px; display: inline-block;
            @media #{$medium-down}{ margin-bottom: 5px;}
          }
          &-category{ display: flex; align-items: center; margin-top: 15px;
            a{ text-decoration: underline; }
            p{ margin: 0; }
            p,a{ font-size: 1rem; line-height: 1; letter-spacing: .2px; color: #565656; }
          }
          p{ margin: 10px 0 5px;  color: $black;
            &.add-page_header-content-date{ margin: 5px 0; font-weight: $font-light; }
          }
        }
      }
      &_footer{ padding: 25px 0;
        h2{ font-size: rem(18); line-height: 21px; letter-spacing: .2px; color: $black; font-weight: $font-semibold; }
        p{ padding: 5px 0; color: $black; }
        ul{ padding-left: 20px; padding-top: 10px;
          li{
            &:before{ content: '-'; padding-right: 10px; }
          }
        }
      }
    }
  }
}
